.login-wrapper {
  background-image: image-url("login.jpg");
  height: calc(100vh - 134px);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
  background-size: cover;

  .btn {
    margin: 10px;
  }

  @media screen and (max-width: 767px) {
    font-size: 2.0rem;
  }
}
