.word-wrapper {
  text-align: center;
  padding-top: 20px;
}

.word-title {
  text-align: center;

  h2 {
    color: #0c3661;
    font-weight: bold;

    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
  }

  h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }

  h5 {
    color: #1a1969;
    font-weight: bold;
    margin: 15px;
  }
}

ul.container {
  text-align: center;
}

li.list-inline-item {
  white-space: nowrap;
}

ul {
  list-style: none;
}

table {
  align: left;
}

table.word-table {
  table-layout: fixed;
  height: 520px;
  width: 250px;
  background-color: #FFFFFF;
}

table.keyword-table {
  table-layout: fixed;
  height: 500px;
  width: 250px;
}

td {
  width: 250px;
}

td.table-primary {
  padding: 12px 0;
}

ul.word-selection-list li {
  vertical-align: middle;
  max-height: 520px;
}

li.word-list, li.keyword-list {
  height: 516px;
}

thead.scrollehead, tbody.scroll-body {
  display: block;
}

thead.scroll-head {
  width: 250px;
}

tbody.scroll-body {
  overflow-y: scroll;
  max-height: 510px;
  height: 475px;
}

.table-color {
  background-color: #c3d8ff;
}

.select-color {
  background-color: #FFFFFF;
}

.select-arrow {
  margin: 50px;
}

.word-content {
  margin-top: 40px;
}

.update_word {
  margin-right: 190px;
}

.create_word {
  margin-left: 190px;
}
