.word-wrapper {
  text-align: center;
  padding-top: 30px;
}

ul.container {
  text-align: center;
}

li.list-inline-item {
  white-space: nowrap;
}

ul {
  list-style: none;
}

table {
  align: left;
}

table.word-table {
  table-layout: fixed;
  width: 250px;
}

table.keyword-table {
  table-layout: fixed;
  width: 250px;
}

td.table-primary {
  padding: 12px 0;
}

ul.word-selection-list li {
  vertical-align: middle;
}
