.word-wrapper {
  text-align: center;
  padding-top: 30px;
}

ul.container {
  text-align: center;
}

li.list-inline-item {
  white-space: nowrap;
}

ul {
  list-style: none;
}

table {
  align: left;
}

table.word-table {
  table-layout: fixed;
  height: 520px;
  width: 250px;
  background-color: #FFFFFF;
}

table.keyword-table {
  table-layout: fixed;
  height: 520px;
  width: 250px;
}

td {
  width: 250px;
}

td.table-primary {
  padding: 12px 0;
}

ul.word-selection-list li {
  vertical-align: middle;
  max-height: 520px;
}

li.word-list, li.keyword-list {
  height: 516px;
}

thead.scrollehead, tbody.scroll-body {
  display: block;
}

thead.scroll-head {
  width: 250px;
}

tbody.scroll-body {
  overflow-y: scroll;
  max-height: 510px;
  height: 467px;
}

.table-color {
  background-color: #c3d8ff;
}

.select-color {
  background-color: #FFFFFF;
}
